{% extends 'homeBase.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}


<div class="">
    <section class="netflix-home-video">
        <div class="top"></div>
        <div class="bottom"></div>
        <video src="{% static 'hotflix/video/video.mp4' %}" autoplay muted loop></video>

        <div class="content">
            <section class="left">
                <img src="{% static 'hotflix/images/hotflix-logo.png' %}" alt="">

                <div class="d-flex mt-2">
                    <button class="btn btn-light m-2"> <i class="bi bi-play-fill"
                            style="color: black; padding: 0%;"></i> Play Now </button>
                    <button class="btn btn-secondary m-2"><i class="bi bi-info-circle" style=" padding: 0%;"></i> More
                        Info</button>
                </div>
            </section>

        </div>
    </section>



</div>
<!-- video -->

<!-- sliders -->
<div class="slider-box">

    




    <div class="container-fluid  slide2">
        <section class="d-flex justify-content-between margin-right margin-title">
            <p class="text-gold"> <b>Music Videos</b> </p>
            <!-- <div class="">
         <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active tab-change-btn" aria-current="true" aria-label="Slide 1"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
       </div> -->
        </section>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner" style="position: relative; overflow: visible;">
                <div class="carousel-item active">
                    <section class="d-flex">



                        {% for x in all %}
                        {% if 'Music Videos' == x.type %}
                        <div class="card">
                            <video class="card-img-top" controls="controls">
                                <source src="{{x.video.url}}" type="video/mp4" />
                            </video>
                            <!-- <img src="{% static 'hotflix/images/trending/img6.jpeg' %}" class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <section class="d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-play-circle-fill card-icon"></i>
                                        <i class="bi bi-plus-circle card-icon"></i>
                                    </div>
                                    <div>
                                        <i class="bi bi-arrow-down-circle card-icon"></i>
                                    </div>
                                </section>
                                <section class="d-flex align-items-center justify-content-between">
                                    <p class="netflix-card-text m-0" style="color: rgb(0, 186, 0);">Year: {{x.year}}</p>
                                    <span class="m-2 netflix-card-text text-white">{{x.title}}</span> <span
                                        class="border netflix-card-text p-1 text-white">HD</span>

                                </section>
                                <span class="netflix-card-text text-white">{{x.description}}</span>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}



                        

                    </section>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid  slide2">
        <section class="d-flex justify-content-between margin-right margin-title">
            <p class="text-gold"> <b>Web Series</b> </p>
            <!-- <div class="">
         <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active tab-change-btn" aria-current="true" aria-label="Slide 1"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
       </div> -->
        </section>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner" style="position: relative; overflow: visible;">
                <div class="carousel-item active">
                    <section class="d-flex">



                        {% for x in all %}
                        {% if 'Web Series' == x.type %}
                        <div class="card">
                            <video class="card-img-top" controls="controls">
                                <source src="{{x.video.url}}" type="video/mp4" />
                            </video>
                            <!-- <img src="{% static 'hotflix/images/trending/img6.jpeg' %}" class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <section class="d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-play-circle-fill card-icon"></i>
                                        <i class="bi bi-plus-circle card-icon"></i>
                                    </div>
                                    <div>
                                        <i class="bi bi-arrow-down-circle card-icon"></i>
                                    </div>
                                </section>
                                <section class="d-flex align-items-center justify-content-between">
                                    <p class="netflix-card-text m-0" style="color: rgb(0, 186, 0);">Year: {{x.year}}</p>
                                    <span class="m-2 netflix-card-text text-white">{{x.title}}</span> <span
                                        class="border netflix-card-text p-1 text-white">HD</span>

                                </section>
                                <span class="netflix-card-text text-white">{{x.description}}</span>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}



                        

                    </section>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid  slide2">
        <section class="d-flex justify-content-between margin-right margin-title">
            <p class="text-gold"> <b>Movies</b> </p>
            <!-- <div class="">
         <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active tab-change-btn" aria-current="true" aria-label="Slide 1"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
       </div> -->
        </section>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner" style="position: relative; overflow: visible;">
                <div class="carousel-item active">
                    <section class="d-flex">



                        {% for x in all %}
                        {% if 'Movies' == x.type %}
                        <div class="card">
                            <video class="card-img-top" controls="controls">
                                <source src="{{x.video.url}}" type="video/mp4" />
                            </video>
                            <!-- <img src="{% static 'hotflix/images/trending/img6.jpeg' %}" class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <section class="d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-play-circle-fill card-icon"></i>
                                        <i class="bi bi-plus-circle card-icon"></i>
                                    </div>
                                    <div>
                                        <i class="bi bi-arrow-down-circle card-icon"></i>
                                    </div>
                                </section>
                                <section class="d-flex align-items-center justify-content-between">
                                    <p class="netflix-card-text m-0" style="color: rgb(0, 186, 0);">Year: {{x.year}}</p>
                                    <span class="m-2 netflix-card-text text-white">{{x.title}}</span> <span
                                        class="border netflix-card-text p-1 text-white">HD</span>

                                </section>
                                <span class="netflix-card-text text-white">{{x.description}}</span>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}



                        

                    </section>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid  slide2">
        <section class="d-flex justify-content-between margin-right margin-title">
            <p class="text-gold"> <b>Trailers</b> </p>
            <!-- <div class="">
         <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active tab-change-btn" aria-current="true" aria-label="Slide 1"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
       </div> -->
        </section>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner" style="position: relative; overflow: visible;">
                <div class="carousel-item active">
                    <section class="d-flex">



                        {% for x in all %}
                        {% if 'Trailers' == x.type %}
                        <div class="card">
                            <video class="card-img-top" controls="controls">
                                <source src="{{x.video.url}}" type="video/mp4" />
                            </video>
                            <!-- <img src="{% static 'hotflix/images/trending/img6.jpeg' %}" class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <section class="d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-play-circle-fill card-icon"></i>
                                        <i class="bi bi-plus-circle card-icon"></i>
                                    </div>
                                    <div>
                                        <i class="bi bi-arrow-down-circle card-icon"></i>
                                    </div>
                                </section>
                                <section class="d-flex align-items-center justify-content-between">
                                    <p class="netflix-card-text m-0" style="color: rgb(0, 186, 0);">Year: {{x.year}}</p>
                                    <span class="m-2 netflix-card-text text-white">{{x.title}}</span> <span
                                        class="border netflix-card-text p-1 text-white">HD</span>

                                </section>
                                <span class="netflix-card-text text-white">{{x.description}}</span>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}



                        

                    </section>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid  slide2">
        <section class="d-flex justify-content-between margin-right margin-title">
            <p class="text-gold"> <b>Kids</b> </p>
            <!-- <div class="">
         <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active tab-change-btn" aria-current="true" aria-label="Slide 1"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
       </div> -->
        </section>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner" style="position: relative; overflow: visible;">
                <div class="carousel-item active">
                    <section class="d-flex">



                        {% for x in all %}
                        {% if 'Kids' == x.type %}
                        <div class="card">
                            <video class="card-img-top" controls="controls">
                                <source src="{{x.video.url}}" type="video/mp4" />
                            </video>
                            <!-- <img src="{% static 'hotflix/images/trending/img6.jpeg' %}" class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <section class="d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-play-circle-fill card-icon"></i>
                                        <i class="bi bi-plus-circle card-icon"></i>
                                    </div>
                                    <div>
                                        <i class="bi bi-arrow-down-circle card-icon"></i>
                                    </div>
                                </section>
                                <section class="d-flex align-items-center justify-content-between">
                                    <p class="netflix-card-text m-0" style="color: rgb(0, 186, 0);">Year: {{x.year}}</p>
                                    <span class="m-2 netflix-card-text text-white">{{x.title}}</span> <span
                                        class="border netflix-card-text p-1 text-white">HD</span>

                                </section>
                                <span class="netflix-card-text text-white">{{x.description}}</span>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}



                        

                    </section>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid  slide2">
        <section class="d-flex justify-content-between margin-right margin-title">
            <p class="text-gold"> <b>Devotional</b> </p>
            <!-- <div class="">
         <button  type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active tab-change-btn" aria-current="true" aria-label="Slide 1"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
         <button class="tab-change-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
       </div> -->
        </section>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

            <div class="carousel-inner" style="position: relative; overflow: visible;">
                <div class="carousel-item active">
                    <section class="d-flex">



                        {% for x in all %}
                        {% if 'Devotional' == x.type %}
                        <div class="card">
                            <video class="card-img-top" controls="controls">
                                <source src="{{x.video.url}}" type="video/mp4" />
                            </video>
                            <!-- <img src="{% static 'hotflix/images/trending/img6.jpeg' %}" class="card-img-top" alt="..."> -->
                            <div class="card-body">
                                <section class="d-flex justify-content-between">
                                    <div>
                                        <i class="bi bi-play-circle-fill card-icon"></i>
                                        <i class="bi bi-plus-circle card-icon"></i>
                                    </div>
                                    <div>
                                        <i class="bi bi-arrow-down-circle card-icon"></i>
                                    </div>
                                </section>
                                <section class="d-flex align-items-center justify-content-between">
                                    <p class="netflix-card-text m-0" style="color: rgb(0, 186, 0);">Year: {{x.year}}</p>
                                    <span class="m-2 netflix-card-text text-white">{{x.title}}</span> <span
                                        class="border netflix-card-text p-1 text-white">HD</span>

                                </section>
                                <span class="netflix-card-text text-white">{{x.description}}</span>
                            </div>

                        </div>
                        {% endif %}
                        {% endfor %}



                        

                    </section>
                </div>
            </div>
        </div>
    </div>    
    <!-- sliders-end -->


    <!-- footer  -->
    <div class="container footer">
        <centre>
            <div class="row">
                <div class="col-10 mx-auto">
                    <div class="row">

                        <div class="col">
                            <p class="copy-right">
                                © 2022 Saanvi Entertainment. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </centre>
    </div>

</div>

<!-- {% for x in all %}
<h3 class="text-center mt-2 mb-2">{{x.year}}</h3>
<video class="embed-responsive embed-responsive-16by9" controls="controls">
    <source src="{{x.video.url}}" type="video/mp4" />
</video>


{% endfor %} -->


{% endblock content %}